/* 内容过多以...显示 */
.ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/* 显示拖拽样式 */
.react-resizable {
  position: relative ;
  background-clip: padding-box;
}
/* 显示拖拽手势 */
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: 0;
  cursor: col-resize;
  z-index: 6;
}
.react-resizable-handle:hover {
/*background-color: #69c0ff;*/
}
.react-draggable-transparent-selection iframe {
  pointer-events: none;
}
.resizable-line {
  width: 4px;
  height: 100%;
  border-radius: 8px;
  transition: background-color 0.2s;
}
.ant-table-thead > tr > th {
  background: none;

  /* 拖拽时禁止选中表头文字   */
  user-select: none; /* Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
